{% extends "layout.njk" %}

{% block content %}
  <main class="not_found">
    <div class="error404">
      <h1>Error 404</h1>
      <p>A página solicitada não existe ou foi removida!</p>
    </div>
  </main>
{% endblock content %}