{% extends "layout.njk" %}

{% block content %}
  <main>    
    <div class="cards">

      {% for recipe in recipes %}
        <div class="card">
          <img src="{{recipe.image}}" alt="{{recipe.title}}">
          <h3>{{recipe.title}}</h3>
          <p>por {{recipe.author}}</p>
        </div>     
      {% endfor %}      

    </div>
  </main>

  <div class="modal_overlay">
    <div class="modal">
      <img src="/images/asinhas.png" alt="Asinhas de frango ao barbecue">
      <h1>Asinhas de frango ao barbecue</h1>
      <p>por Vania Steroski</p>
      <a class="close_modal">Fechar modal</a>
    </div>
  </div>
  <script src="scripts.js"></script>
{% endblock content %}